In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\punee\Downloads\Liquidity_Data.csv")

In [2]:
df.head()

,AVGT,VOLUME,NTRAN,PRICE,SHARE,VALUE,DEBEQ,TIC,COMPANY
0,3.452,16.221001,6273,37.250,81.140999,3.002,0.897,AA,ALUMINUM CO AMER
1,13.561,5.693000,1548,22.500,27.087999,0.609,6.394,AAL,ALEXANDER & ALEX SVCS
2,2.884,11.965000,7582,21.000,189.679993,4.007,1.792,AEP,AMERICAN ELEC PWR INC
3,5.674,3.834000,3771,24.375,13.492000,0.325,3.089,AGE,EDWARDS AG INC
4,2.909,13.235000,7434,28.750,72.599998,2.087,0.644,AHS,AMERICAN HOSP SUPPLY

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AVGT     123 non-null    float64
 1   VOLUME   123 non-null    float64
 2   NTRAN    123 non-null    int64
 3   PRICE    123 non-null    float64
 4   SHARE    123 non-null    float64
 5   VALUE    123 non-null    float64
 6   DEBEQ    123 non-null    float64
 7   TIC      123 non-null    object
 8   COMPANY  123 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 8.8+ KB

In [6]:
data = df.drop(columns=['TIC', 'COMPANY'])

In [9]:
data.head()

     AVGT     VOLUME  NTRAN   PRICE       SHARE  VALUE  DEBEQ
0   3.452  16.221001   6273  37.250   81.140999  3.002  0.897
1  13.561   5.693000   1548  22.500   27.087999  0.609  6.394
2   2.884  11.965000   7582  21.000  189.679993  4.007  1.792
3   5.674   3.834000   3771  24.375   13.492000  0.325  3.089
4   2.909  13.235000   7434  28.750   72.599998  2.087  0.644

In [10]:

X = data.drop(columns=['VOLUME'])
y = data['VOLUME']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Evaluate the model using the test set
score = model.score(X_test, y_test)  # R² score on the test set
print("Model score (R²):", score)

# Alternatively, calculate R² score directly
r2 = r2_score(y_test, y_pred)
print("R² score:", r2)

Model score (R²): 0.8720942610089261
R² score: 0.8720942610089261